/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Felipa&family=New+Rocker&display=swap');


/* GLOBAL STYLING */

:root {
  --col-bg-1: hsl(69, 18%, 86%);
  --col-bg-2: hsl(24, 41%, 69%);
  --col-bg-3: hsl(51, 100%, 78%);
  --col-border: hsl(0, 60%, 40%);
  --col-border-higlight: hsl(20, 60%, 72%);
  --col-text: hsl(230, 21%, 5%);
  --shadow-normal: 4px 4px 8px 2px hsla(0, 0%, 0%, 30%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--col-bg-1);
  color: var(--col-text);
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
  align-content: center;
}

header {
  background-color: var(--col-bg-2);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--col-border);
  text-align: center;
  padding: 2rem;
  box-shadow: var(--shadow-normal);
}

main {
  width: 100%;
  overflow-x: hidden;
}

footer {
  height: 5vh;
}

/* CARDS STYLING */

#cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 50vh;
  margin: 30vh 20vw 50vh 20vw;
}

.card {
  min-height: 40vh;
  background-color: var(--col-bg-3);
  border-radius: 0.8rem;  
  border: 1px solid;
  border-color: var(--col-border-higlight) var(--col-border) var(--col-border) var(--col-border);
  box-shadow: var(--shadow-normal);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 3rem;
  transform: perspective(1000px);
  animation: showCardAnimation 3s ease-in;
}

.card .quote {
  font-size: x-large;
  text-align: center;
}

.card .quote::first-letter {
  font-size: 150%;
  font-weight: bolder;
  border: 4px solid var(--col-border);
  border-radius: 40% 0 0 0;
  background-color: var(--col-text);
  color: var(--col-bg-1);
  padding: 0.1rem 0.3rem;
  margin: 0.15rem
}

.card .author {
  font-size: larger;
  text-align: right;
  font-style: italic;

}

@keyframes showCardAnimation {
  0% {
    transform: rotateX(30deg);
    /* opacity: 0; */
    opacity: 0.4;
  }

  20% {
  }

  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@media screen and (max-width: 420px) {
  #cardsContainer {
    margin: 30vh 2rem 50vh 2rem;
  }
}